:root {
  --background: #120800;
  --foreground: #FF7300;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  background-color: #1A1A1A;
  border: 1px solid #FF7300;
}

::-webkit-scrollbar-thumb {
  background-color: #FF7300;
  border-radius: 0px;
  /* border: 3px solid #1A1A1A; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #B5FF3B;
}

::-webkit-scrollbar-corner {
  background-color: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120800;
    --foreground: #FF7300;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), var(--font-roboto-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
